* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top-bar {
     /*debug*/
    height: 60px;
    background-color: aqua;
}

#top-bar-container {
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: center
    /*debug*/
}

#logo {
    width: 10%;
    /*debug*/
    background-color: yellow;  
    border-color: black; 
}

#link {
    width: 35%;
    display: flex;
    justify-content: center;
    /*debug*/
    background-color: yellow; 
    border-color: black;  
}

#login {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    /*debug*/
    background-color: yellow;
    border-color: black; 
}

#hero {
    /*debug*/
    background-color: blue;
    padding: 60px;
}
#container-hero {
    margin: 0 auto;
    /*debug*/
    height: 100px;
    width: 180px; 
    background-color: pink;
    

}

/*footer*/
footer {
    /*debug*/
    height: 400px;
    background-color: crimson;
}